*{
    padding: 0;
    margin: 0;
}
body{
    background: url("pic/bgLeft1.png");
}

h3{
    display: inline-block;
    color: white;
    position: center;
    padding-top: 5px;
    padding-left: 5px;
}
/*图片设置*/
.back{
    width: 16px;
    height: 16px;
    padding-top: 1px;
}
.photo1{
    border: 1px;
    display: inline-block;
    width: 38px;
    height: 38px;
    position: absolute;
    padding-left:8px;
}

.photo2{
    border: 1px;
    display: inline-block;
    width: 38px;
    height: 38px;
    position: absolute;
    /*padding-left: 87px;*/
    margin: -65px 252px;
}

#weChat{
    width: 300px;
    height: 500px;
    /*margin-top: 100px;*/
    /*margin-left: 600px;*/
    margin: auto;
    border-radius: 5px;
    border: 1px solid white;
    box-shadow: 5px 5px 1px rgb(255, 239, 94);
    background: url("pic/desk.jpg") no-repeat center;
    background-size: cover;/*cover属性可以让图片填充父级元素*/
}
#head{
    height: 8%;
    background-color: #6b6f7c;
}
#show{
    height: 67%;
    /*background-color: white;*/
}

/*伪类写气泡*/
.chat-bubble{
    position: relative;
    margin:12px 0 12px 12px;
    padding:6px 8px;
    word-break: break-all;
    background:#fff;
    border: 1px solid #989898;
    border-radius: 5px;
    max-width:180px;
}
.chat-bubble-left {
    left: 50px;
}
.chat-bubble-left:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left: -20px;
    top:5px;
    border: 10px solid;
    border-color:transparent #989898 transparent  transparent ;
}
.chat-bubble-left:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    left:-16px;
    top:7px;
    border: 8px solid;
    border-color:transparent #ffffff transparent  transparent ;
}
.chat-bubble-right {
    right: -30px;
    background-color: #348903;
}
.chat-bubble-right:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right: -20px;
    top:5px;
    border: 10px solid;
    border-color:transparent transparent transparent #348903;
}
.chat-bubble-right:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    right:-16px;
    top:7px;
    border: 8px solid;
    border-color:transparent transparent transparent #348903 ;
}

#onClick{
    height: 25%;
    background-color: rgb(0, 0, 0);
}
#word{
    width: 265px;
    height: 40px;
    display: inline-block;
    border-radius: 10px;
    background-color: #348903;
    margin: 30px 20px 20px 20px;
    text-align: center;
}
